<<<<<<< HEAD

<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle" required>
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30" required></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer"); -%>
=======
<%- include("partials/header") %>

<h1>Compose</h1>

<div>
    <form action="/compose" method="POST">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input class="form-control" type="text" placeholder="" name="postTitle">
            <div class="form-group">
                <label for="postBody">Post</label>
                <textarea class="form-control" name="postBody" placeholder="What are your thoughts?" row="4"></textarea>
            </div>
            <button class="btn btn-primary btn-sm" name="publishEntry" type="submit">Publish</button>
        </div>
    </form>
</div>


<%- include("partials/footer") %>
>>>>>>> 22f42cbd5fc1609539792b8f62af56e176e7055e
